<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	
	
	<!--<resources mapping="/resources/**" location="/resources/" />-->
	<!--<resources mapping="/css/**" location="/css/" />-->
	<!--<resources mapping="/images/**" location="/images/" />-->
	<!--<resources mapping="/js/**" location="/js/" />-->
	<!--<resources mapping="/img/**" location="/img/" />-->
	<!--<resources mapping="/html/**" location="/html/" />-->
	<!--<resources mapping="/fonts/**" location="/fonts/" />-->
	<!--<resources mapping="/layui/**" location="/layui/" />-->
	<!--<resources mapping="/layer/**" location="/layer/" />-->
	<!--<resources mapping="/bootstrap-3.3.7-dist/**" location="/bootstrap-3.3.7-dist/" />-->
	<!--<resources mapping="/public/**" location="/public/" />-->
	<!--<resources mapping="/jsion/**" location="/jsion/" />-->
	
	
	
	<context:component-scan base-package="edu.ssm.controller" />
	<beans:bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
	<beans:bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"  > 
	    <beans:property name="messageConverters">
	       <beans:list>
	          <beans:ref bean="mappingJacksonHttpMessageConverter" /><!-- json转换器 -->
	       </beans:list>
	    </beans:property>
	 </beans:bean>
	<!-- Jackson转换器 -->
	<beans:bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<beans:property name="supportedMediaTypes">
			<beans:list>
				<beans:value>text/html;charset=UTF-8</beans:value>
				<beans:value>application/json; charset=UTF-8</beans:value>  
                <beans:value>application/x-www-form-urlencoded; charset=UTF-8</beans:value> 
			</beans:list>
		</beans:property>
	</beans:bean>
	<beans:bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="prefix" value="/WEB-INF/page/" />
		<beans:property name="suffix" value=".jsp" />
	</beans:bean> 
	
	<beans:bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	    <beans:property name="maxUploadSize" value="32505856" /><!-- 上传文件大小限制为31M，31*1024*1024 -->
	    <beans:property name="maxInMemorySize" value="4096" />
	</beans:bean>
	<!--<aop:config>-->
        <!--<aop:aspect ref="adminLogAspect">-->
            <!--<aop:pointcut id="logPointCut" expression="-->
				<!--execution(* com.easytrip.*.view.*.*(..)) or-->
				<!--execution(* org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter.handle(..))-->
			<!--"/>-->
            <!--<aop:after-returning method="saveLog" pointcut-ref="logPointCut"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->



	
	
  <!--<beans:bean class="edu.ssm.error.ExceptionResolver"/>-->
	
</beans:beans>
